.box{
    width:24px;
    height:24px;
    margin:1px;
}
p{
    text-align:center;
}
.center {
    margin: auto;
    text-align: center;
}
.score{
    margin: 25px;
}
.right{
    margin-right: 0px;
}
